<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css">
    <title>Document</title>
</head>
<body>
    <form id="pokedexContainer" method="post">
        <img id="pokedex" src="/public/assets/pokedex.png">
        <img id="pokeImg" src=<%=locals.pokeImgSrc%>>
        <input type="text" id="pokeTextBox" name="pokeTextBox" placeholder="Enter Pokèmon" value=<%=locals.pokeName%>>
        <button type="submit" id="submitBtn">Search</button>

        <button type="submit" id="gmaxBtn">GMAX</button>

        <div class="dataContainer">
            <p id="dataName"></p><p id="dataHeight"></p>
            <p id="data"></p>
            <div id="statsContainer">
                <p id="hp">HP</p>
                <p id="attack">ATK</p>
                <p id="defense">DEF</p>
                <p id="specialAttack">S-ATK</p>
                <p id="specialDefense">S-DEF</p>
                <p id="speed">SP</p>
            </div>
        </div>

        <div class="typeContainer">
            <div id="typeOne"></div>
            <div id="typeTwo"></div>
        </div>

        <div class="arrowButtonsContainer">
            <button type="submit" id="leftArrow"></button>
            <button type="submit" id="rightArrow"></button>
        </div>

        <div class="statsBtnContainer">
            <div id="statsOpen"></div>
            <div id="statsClose"></div>
        </div>
    </form>

    <audio id="pokemonCry" autoplay>
        <source src="">
    </audio>

    <p id="isEnglish"><%=locals.isEnglish%></p>
    <script src="/public/assets/main.js"></script>
    <script src="/public/assets/helpers.js"></script>
    <script src="/public/assets/index.js"></script>

</body>
</html>